<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About the Terry Pratchett Quote Generator</h1>

  <p>
    Want more Pratchett quotes in your life? Well, now you can have them! The Terry Pratchett Quote Generator was created by Elizabeth Connors after she fell in love with the Discworld books.
  </p>
  <br />
  <p>
    The Generator picks a random quote for you, but you can add your own quotes too! Just make sure they’re accurate. (Mister Vimes takes a dim view of fraudulent submissions.)
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'eliz.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Elizabeth Connors</h2>
    <br />
    <p>
      Elizabeth Connors is a web developer who lives in Toronto, Ontario. She is definitely not a robot.
    </p>
  </div>
  <br class='clear' />

</div>

<br class='clear' />
<br />
<br />
<br />
<br />