<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About the Terry Pratchett Quote Generator</h1>

  <p>
      The Terry Pratchett Quote Generator was built by <a target="_blank" href="https://github.com/elizrd">Elizabeth</a>, a hu-mon feeeemale.
  </p>
  <br />
  <p>
      Words words words
  </p>
  <br />
  <p>
      Words words words
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'eliz.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Elizabeth Connors</h2>
    <br />
    <p>
      Elizabeth Connors is a web developer who lives in Toronto, Ontario. She is definitely not a robot.
    </p>
  </div>
  <br class='clear' />

</div>

<br class='clear' />
<br />
<br />
<br />
<br />